{% extends 'basefront.html.twig' %}

{% block title %}
<title>Qr Code</title>
{% endblock %}

{% block body %}
          <h1 class="mb-0 site-logo"><a href="index.html" class="h2 mb-0">Scanner ce QR code pour avoir un quide des carte bancaire<span class="text-primary">.</span> </a></h1>

  <br>
    <div class="container text-center">
        <div class="row mt-5">
            <div class="col">
                <img src="{{ simple }}" />
            </div>
           
        </div>
    </div>
  {% endblock %}
 
