{% extends 'basefront.html.twig' %}
{% block title %}BONUS{% endblock %}


{% block body %}
   <h1 id="result" class="result">CONGRATS!!! YOU GOT :</h1>
   <div id="app" class="app">
       <img class="marker" src="{{ asset('assets/uploads/marker.png') }}" alt="">
       <img class="wheel" src="{{ asset('assets/uploads/roulette.png') }}" alt="">
       <img class="button" src="{{ asset('assets/uploads/button.png') }}" alt="">
   </div>


{% endblock %}

