{% extends 'base.html.twig' %}

{% block title %}New Bonus{% endblock %}

{% block body %}
    <h1>Create new Bonus</h1>

    {{ include('bonus/_form.html.twig') }}

    <a href="{{ path('app_bonus_index') }}">back to list</a>
{% endblock %}
