  
{% block title %}Statistiques des Types de carte Bancaires{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>


{% block text %}

<div class="container">
    <h1>Statistiques des Types de carte Bancaires</h1>
    <canvas id="depots" width="400" height="100"></canvas>

</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
    let depots = document.querySelector("#depots")
    let depoGraph = new Chart(depots, {
        type: 'pie',
        data: {
            labels: ["Visa classique","Visa gold","Visa world elite"],
            datasets: [{
                label: "Répartition des depots",
                data: [{{depCount1}},{{depCount2}},{{depCount3}}],
                backgroundColor: ["#FF6384","#36A2EB","#FFCE56"]
        }]
    }
})
</script>
{% endblock %}
