{% extends 'base-back.html.twig' %}

{% block title %}Edit CompteBancaire{% endblock %}

{% block body %}
    <h1>Edit CompteBancaire</h1>

    {{ include('compte_bancaire/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
